<div class="container">
 <div class="row">
  <div class="col-lg-4" style="background-color: orange;">
   <h2>サイドバー</h2>
  </div>
  <div class="col-lg-8">
    <h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
  </div>
 </div>
</div>